<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ team.title }} &bull; Project Investora</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
</head>
<body>
    {% include 'components/msg.html' %}
    {% include 'utils/add-trade.html' %}
    {% include 'utils/add-member.html' %}
    {% include 'utils/add-team.html' %}

    <section class="app-content">
        {% include 'components/sidebar.html' %}

        <section class="app-body">
            {% include 'components/header.html' %}

            <main class="main">
                
            </main>
        </section>
    </section>
</body>
</html>