body {
  padding: 20px;
}

.title {width: 100%;}
.title .img {border-radius: 5px;}

.bottom {
  padding: 10px;
  box-shadow: 0 0 5px var(--border);
  width: fit-content;
  border-radius: 5px;
  text-align: center;
}

#google-login {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--text);
}

#google-login:hover {background-color: var(--tertiary);}

.bottom .input {width: 100%;}
.bottom .btnxl:hover {background-color: var(--primary);}